{% extends "base.html" %}
{% block content %}

<h1>Register</h1>

{% if error %}
  <p class="error-msg">{{ error }}</p>
{% endif %}

<form action="/create_user" method="post">
  <p>
    Username:<br />
    <input type="text" name="username" value="{{ username or '' }}" />
  </p>
  <p>
    Password:<br />
    <input type="password" name="password1" />
  </p>
  <p>
    Repeat password:<br />
    <input type="password" name="password2" />
  </p>

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

  <p><input type="submit" value="Create account" /></p>
</form>

{% endblock %}
